SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = password
TYPEORM_DATABASE = postgres
TYPEORM_PORT = 5555
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = build/db/entity/*.js
TYPEORM_ENTITIES_DIR = src/db/entity
TYPEORM_MIGRATIONS=build/db/migration/*.js
TYPEORM_MIGRATIONS_DIR=build/db/migration